blinker==1.4
dominate==2.1.16
facebook-sdk==1.0.0a0
Flask==0.10.1
Flask-Bootstrap==3.3.5.7
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-OAuth==0.12
Flask-Principal==0.4.0
Flask-Script==2.0.5
Flask-Security==1.7.5
Flask-Session==0.2.3
Flask-Social==1.6.2
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
google-api-python-client==1.4.2
httplib2==0.9.2
itsdangerous==0.24
Jinja2==2.8
linecache2==1.0.0
MarkupSafe==0.23
oauth2==1.9.0.post1
oauth2client==1.5.2
passlib==1.6.5
pyasn1==0.1.9
pyasn1-modules==0.0.8
rauth==0.7.2
requests==2.9.1
rsa==3.3
simplejson==3.8.1
six==1.10.0
SQLAlchemy==1.0.11
traceback2==1.4.0
unittest2==1.1.0
uritemplate==0.6
visitor==0.1.2
Werkzeug==0.11.3
wheel==0.26.0
WTForms==2.1
