{% extends "public_base.html" %}

{% block membernav %}
	<ul class="nav navbar-nav">
		<!-- <div class="pull-right"> -->
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"
				role="button" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon-menu-hamburger"> </span>
				File
			</a>
			<ul class="dropdown-menu">
				<li class="dropdown-submenu">
					<a>
						<span class="glyphicon glyphicon-plus"></span>
						New
					</a>
					<ul class="dropdown-menu new">
						<li><a onclick="navbar_file_new_file()">
							<span class="glyphicon glyphicon-file"></span>
							Blank File
						</a></li>
						<li><a onclick="navbar_file_open_file()">
							<span class="glyphicon glyphicon-cloud-upload"></span>
							Upload File
						</a></li>
					</ul>
				</li>
				<li class="dropdown-submenu">
					<a>
						<span class="glyphicon glyphicon-folder-open"> </span>
						Open
					</a>
					<ul class="dropdown-menu proj" id = 'projects'>
					</ul>
				</li>
				<li><a onclick="navbar_file_save()">
					<span class="glyphicon glyphicon-floppy-disk"> </span>
					Save
				</a></li>
				<li><a onclick="navbar_file_close_file()">
					<span class="glyphicon glyphicon-remove"> </span>
					Close File
				</a></li>
				<li class="divider"></li>
				<li class="dropdown-submenu">
					<a>
						<span class="glyphicon glyphicon-trash"> </span>
						Delete
					</a>
					<ul class="dropdown-menu del" id = 'deleting'>
					</ul>
				</li>
			</ul>
		</li>

		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"
				role="button" aria-haspopup="true" aria-expanded="false" >
				<span class="glyphicon glyphicon-eye-open"></span>
				Visualize
			</a>
			<ul class="dropdown-menu vis" id = 'visualize'>
				<li>
					<a onclick="simpleGraph('visualization')">
						<span class="glyphicon glyphicon-menu-right"></span>
						Flow Graph
					</a>
				</li>
				<li>
					<a data-toggle="modal" data-target="#fullscreenModal" onclick="simpleGraph('visualization_fullscreen')">
						<span class="glyphicon glyphicon-menu-right"></span>
						Full-screen Flow Graph
					</a>
				</li>
				<li>
					<a onclick="pmlToJson('visualization')">
						<span class="glyphicon glyphicon-menu-right"></span>
						Swimlanes
					</a>
				</li>
				<li>
					<a data-toggle="modal" data-target="#fullscreenModal" onclick="pmlToJson('visualization_fullscreen')">
						<span class="glyphicon glyphicon-menu-right"></span>
						Full-screen Swimlanes
					</a>
				</li>
			</ul>
		</li>
		<!-- Settings Dropdown -->
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"
				role="button" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon-cog"></span>
				Settings
			</a>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li class="dropdown-header">
					Key binds
				</li>
				<li><a onclick='setEditor("VIM")'>
					<span class="glyphicon glyphicon-chevron-right"></span>
					Vim
				</a></li>
				<li><a onclick='setEditor("EMACS")'>
					<span class="glyphicon glyphicon-chevron-right"></span>
					Emacs
				</a></li>
				<li><a onclick='setEditor("NONE")'>
					<span class="glyphicon glyphicon-chevron-right"></span>
					Default
				</a></li>
				<li class="divider"></li>
				<li>
					<a>
					<span class="glyphicon glyphicon-text-size"></span>
					Font size
					</a>
				</li>
				<li>
					<input id="fontsize" type="text" class="form-control" placeholder="12" aria-describedby="basic-addon1">
				</li>
				<li class="divider"></li>
				<li><a onclick='runAllTests()'>
					<span class="glyphicon glyphicon-fire"></span>
					Run tests
				</a></li>
			</ul>
		</li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"
				role="button" aria-haspopup="true" aria-expanded="false">
				<span class=" glyphicon glyphicon-user"></span>
				{% if session.username %}
					{{ session.username }}
				{% else %}
					{{ session.email }}
				{% endif %}
				{% if session.alerts %}
					<span class="badge">{{ session.alerts|length }}</span>
				{% endif %}
			</a>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				{% if session.alerts %}
					{% for alert in session.alerts %}
						<li><a>
								<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"> </span>
								{{alert}}
						</a></li>
					{% endfor %}
					<li class="divider"></li>
				{% endif %}
				{% if session.email_not_confirmed %}
					<li><a href='resend'>
						<span class="glyphicon glyphicon-repeat" aria-hidden="true"> </span>
						Resend email confirmation
					</a></li>
					<li class="divider"></li>
				{% endif %}
				<li><a href='logout'>
					<span class="glyphicon glyphicon-off" aria-hidden="true"> </span>
					Logout
				</a></li>
			</ul>
		</li>
	</ul>
{% endblock %}
