{% extends "public_base.html" %}

{% block title%}Login{% endblock %}

{% block head %}
	{{super()}}
{% endblock %}

{% block content %}
<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">Password reset</div>
		<div class="panel-body">
			<p>If <b>{{ email }}</b> is in our database then a password reset link will be sent to it.</p>
			<button type="submit" class="btn btn-primary" id="backToLogin"
				onclick="window.location.href='{{url_for('main.login')}}'">Back to login
			</button>
		</div>
	</div>
</div>
{% endblock %}
