{% extends "member_base.html" %}

{% block title %}PML Code Checker{% endblock %}

{% block head %}
	{{ super() }}
	<link href="{{url_for('static', filename='css/editor.css')}}" rel="stylesheet">
	<script src="{{url_for('static', filename='js/editor.js')}}"></script>
	<script src="{{url_for('static', filename='js/checker.js')}}"></script>
	<script src="{{url_for('static', filename='js/vis.js')}}"></script>
	<link href="{{url_for('static', filename='css/vis.css')}}" rel="stylesheet">
	<script src="{{url_for('static', filename='src-noconflict/ace.js')}}" type="text/javascript" charset="utf-8"></script>
	<script src="{{url_for('static', filename='src-noconflict/ext-language_tools.js')}}"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="{{url_for('static', filename='js/tests.js')}}"></script>
	<link href="{{url_for('static', filename='css/overlay-bootstrap.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}
	{{super()}}
		<span id="ruler"></span>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class ="panel-title" id = "title">{{session['currentFile']}}</h1>
				</div>
				<div class="panel-body">
					<div>
					<div id="editor"><input type='file'></div>
				</div>
				</div>
				<div class="panel-body">
					<button id="flowGraphButton" type="button" class="btn btn-primary" onclick="simpleGraph('visualization')">
						<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
						Flow Graph
					</button>
					<button id="swimlaneButton" type="button" class="btn btn-primary" onclick="pmlToJson('visualization')">
						<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
						Swimlanes
					</button>
					<button id="socialNetworkButton" type="button" class="btn btn-primary" onclick="pmlToJsonNetwork('visualization')">
						<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
						Social Network
					</button>
					<button type="button" id="fullScreenButton" class="btn btn-primary" data-toggle="modal" data-target="#fullscreenChoiceModal">
						<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
						Fullscreen
					</button>
					<button type="button" class="btn btn-primary" id="colourSchemeChangeButton" data-toggle="modal" data-target="#legendModal">
						<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
						Change Colour Scheme
					</button>
					<form action="upload" method="post" enctype="multipart/form-data" id="send">
						<button type="submit" class="btn btn-primary" style="display: none;"></button>
						<input type="file" name="file" id ="file" style="display: none;">
						<input type="hidden" name="fileCode" id="fileCode" style="display: none;">
						{% if session.changed %}
							<input type="hidden" name="update" style="display: none;"value ="{{session['update']}}" id="update">
						{% else %}
							<input type="hidden" name="update" style="display: none;" value ="" id="update">
						{% endif %}
					</form>
					<form action="refresh" method="post" id="refreshed">
					</form>
				</div>
				<input name="fileNames[]" id = "fileNames" type="hidden" value = "{{session['lst']}}"/>
				<script src="{{url_for('static', filename='js/ace.js')}}"></script>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					Visualization
					<div class="modal fade" id="legendModal" tabindex="-1" role="dialog" aria-labelledby="legendModal" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									Legend
									<button id="closedModalLegend" type="button" class="close" data-dismiss="modal">
										<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
									</button>
								</div>
							<div class="modal-body">
								<div class="table-responsive">
									<dic class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
											<table class="table">
												<thead>
													<tr>
														<th>Colour</th>
														<th>Description</th>
													</tr>
												</thead>
												<tbody>
												<tr>
													<td>Miracle</td>
													<td>Miracles are actions which provide but do not require a resource</td>
												</tr>
												<tr>
													<td>Blackhole</td>
													<td>Black holes require but do not provide a resource</td>
												</tr>
												<tr>
													<td>Transformer</td>
													<td>Transformations provide a different resource to the one required</td>
												</tr>
												</tbody>
											</table>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
											<table class="table" id="colourSchemeTable">
												<thead>
													<tr>
														<th>Scheme</th>
														<th>Colours</th>
													</tr>
												</thead>
												<tbody>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal fade" id="fullscreenModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog-fs">
						<div class="modal-content-fs">
							<div class="modal-header">
								Visualization fullscreen
								<button id="closeModalFullscreen" type="button" class="close" data-dismiss="modal">
									<!-- <span aria-hidden="true">&times;</span><span class="sr-only">Close</span> -->
									<span aria-hidden="true" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
								</button>
							</div>
							<div class="modal-body row">
								<div class="col-lg-12">
									<div class="panel-body">
										<div id="visualization_fullscreen" class="graphics_fullscreen"></div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<div class="pull-left">
									Legend:
									<button type="button" class="btn btn-primary btn-primary-pill" id="miracle_button">
										Miracle/Resources
									</button>
									<button type="button" class="btn btn-primary btn-primary-pill" id="blackhole_button">
										Blackhole/Agents
									</button>
									<button type="button" class="btn btn-primary btn-primary-pill" id="transformer_button">
										Transformer/Tools
									</button>
								</div>
								<diV class="pull-right">
									<button type="button" id="modalFlowGraphButton" class="btn btn-primary" onclick="simpleGraph('visualization_fullscreen')">
										<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
										Flow Graph
									</button>
									<button type="button" id="modalSwimlaneButton" class="btn btn-primary" onclick="pmlToJson('visualization_fullscreen')">
										<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
										Swimlanes
									</button>
									<button type="button" id="modalNetworkButton" class="btn btn-primary" onclick="pmlToJsonNetwork('visualization_fullscreen')">
										<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
										Social Network
									</button>
									<button type="button" id="modalColourSchemeButton" class="btn btn-primary" data-toggle="modal" data-target="#legendModal" data-dismiss="modal">
										<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
										Change Colour Scheme
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal fade" id="fullscreenChoiceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								Visualization Choice
								<button id="modalFullscreenChoiceClose" type="button" class="close" data-dismiss="modal">
									<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
								</button>
							</div>
							<div class="modal-body" id="topkek">
								<div class="text-center">
									<p>
										What type of a visualization would you like to see?
									</p>
									<button type="button" id="modalFullscreenChoiceFlowButton" class="btn btn-primary" data-toggle="modal" data-target="#fullscreenModal" data-dismiss="modal" onclick="simpleGraph('visualization_fullscreen')">
										<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
										Flow Graph
									</button>
									<button type="button" id="modalFullscreenChoiceSwimlaneButton" class="btn btn-primary" data-toggle="modal" data-target="#fullscreenModal" data-dismiss="modal" onclick="pmlToJson('visualization_fullscreen')">
										<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
										Swimlanes
									</button>
									<button type="button" id="modalFullscreenChoiceNetworkButton" class="btn btn-primary" data-toggle="modal" data-target="#fullscreenModal" data-dismiss="modal" onclick="pmlToJsonNetwork('visualization_fullscreen')">
										<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
										Social Network
									</button>
								</div>
							</div>
							<div class="modal-footer">
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div id="visualization" class="graphics"></div>
				</div>
				<div class="panel-body">
					Legend:
					<button type="button" class="btn btn-primary btn-primary-pill" id="miracle_button_2">
						Miracle/Resources
					</button>
					<button type="button" class="btn btn-primary btn-primary-pill" id="blackhole_button_2">
						Blackhole/Agents
					</button>
					<button type="button" class="btn btn-primary btn-primary-pill" id="transformer_button_2">
						Transformer/Tools
					</button>
				</div>
			</div>
		</div>
{% endblock %}
