{% extends "member_base.html" %}

{% block title %}PML Code Checker{% endblock %}

{% block head %}
	{{ super() }}
	<link href="{{url_for('static', filename='css/editor.css')}}" rel="stylesheet">
	<link href="{{url_for('static', filename='css/vis.css')}}" rel="stylesheet">
	<script src="{{url_for('static', filename='js/editor.js')}}"></script>
	<script src="{{url_for('static', filename='js/checker.js')}}"></script>
	<script src="{{url_for('static', filename='js/vis.js')}}"></script>
	<script src="{{url_for('static', filename='js/underscore.js')}}"></script>
	<script src="{{url_for('static', filename='src-noconflict/ace.js')}}" type="text/javascript" charset="utf-8"></script>
	<script src="{{url_for('static', filename='src-noconflict/ext-language_tools.js')}}"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
	{{super()}}
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class ="panel-title">PML Code Checker</h1>
				</div>
				<div id="panel-body">

					<!-- Editor -->
					<div id="editor"></div>
						<div class="pull-left">
							<button type="submit" class="btn btn-primary" onclick="submitData('{{ url_for('main.index') }}')">Analyze</button>
							<form action="upload" method="post" enctype="multipart/form-data" id="send">
							<button type="submit" class="btn btn-primary" style="display: none;"></button>
								<input type="file" name="file" id ="file" style="display: none;">
								<input type="hidden" name="fileCode" style="display: none;">
								{% if session.changed %}
									<input type="hidden" name="update" style="display: none;"value ="{{session['update']}}" id="update">
								{% else %}
									<input type="hidden" name="update" style="display: none;" value ="" id="update">
								{% endif %}
							</form>
							<form action="refresh" method="post" id="refreshed">

							</form>
						</div>
				</div>
				<input name="fileNames[]" id = "fileNames" type="hidden" value = "{{session['lst']}}"/>
				<!-- Leave this here, editor has to be loaded before the script is. -->
				<script src="{{url_for('static', filename='js/ace.js')}}"></script>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class ="panel-title">PML Code Result</h1>
				</div>
				<div id="result"></div>
			</div>
		</div>
	</div>
	<div id="visualization" class="graphics"></div>
{% endblock %}
