{% extends "member_base.html" %}

{% block title %}PML Code Checker{% endblock %}

<-- Some code for getting autocompletion working was taken from here: https://github.com/ajaxorg/ace/blob/master/demo/autocompletion.html -->


{% block head %}
	{{ super() }}
	<link href="{{url_for('static', filename='css/editor.css')}}" rel="stylesheet">
	<script src="{{url_for('static', filename='js/editor.js')}}"></script>
	<script src="{{url_for('static', filename='src-noconflict/ace.js')}}" type="text/javascript" charset="utf-8"></script>

	<script src="{{url_for('static', filename='src-noconflict/ext-language_tools.js')}}"></script>

{% endblock %}

{% block content %}
	{{super()}}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class ="panel-title">PML Code Checker</h1>
		</div>
		<div id="panel-body">
			
			<!-- Editor -->
			<div id="editor"></div>
			<button type="submit" class="btn btn-primary" onclick="submitData({{ url_for('main.root_post') }})">Submit</button>
			<script>
				ace.require("ace/ext/language_tools");
				var editor = ace.edit("editor");
				editor.setTheme("static/ace-master/lib/ace/theme//chrome");
				editor.session.setMode("ace/mode/c_cpp");
    editor.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: false
    });
			</script>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class ="panel-title">PML Code Result</h1>
		</div>
			<div id="result"></div>
	</div>
{% endblock %}
